/* TITILLIUM WEB */
@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: TitilliumWeb-Bold;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}


/* INTER */
@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

/* QUICKSAND */
@font-face {
    font-family: Quicksand;
    src: url(../assets/fonts/Quicksand/static/Quicksand-Regular.ttf);
}
mostrar-menu {
    left: 0 !important;
}

.mostrar-usuario {
    right: 20px !important;
}

.layout-grid {
    /* border: 1px solid salmon; */
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* justify content + align items */
.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    color: #ffffff;
    margin: 0px;
}





/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100vw;
    height: 60px;
    background-color: #1B1426;
}

/* Header Top */
header .header-top {
    display: none;
}

/* Header Bottom */


header .header-bottom {
    height: 100%;
}

header .header-bottom img.logo {
    width: 86px;
    /* transform: rotate(-5deg); */
}

header .header-bottom nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    width: 80vw;
    height: calc(100vh - 60px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);

    transition: left 0.8s;
}

.mostrar-menu {
    left: 0 !important;
}

/* somente links "filhos diretos" */
header .header-bottom nav>a {
    padding: 30px 0;
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border-bottom: 2px solid #F9AA01;
}

header .header-bottom nav>a {
    /* background-color: #F9AA01; */
}

header .header-bottom nav>a:last-of-type {
    border-bottom: none;
}



header .header-bottom nav .midias-sociais {
    /* */
    display: flex;
    justify-content: center;
    gap: 50px;
    /* gap é o espaçamento entre os elementos, funciona em linha e também em coluna. */
}

header .menu-usuarios {
    position: fixed;
    top: 60px;
    right: -20vw;
    width: 20vw;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);

    transition: 0.8s;
}

.login {
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
width: 100%;
height: 90vh;
margin: 0 auto;
background-image: url(../assets/images/Banner_Login.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;

position: relative;
z-index: 0;
}

.login::before {
content: "";
width: 100%;
height: 100%;
position: absolute;
z-index: 1;
backdrop-filter: blur(4px);
color: white;

}

.linha {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px 10px;
    width: 80%;
    height: 40px;
    background-color: rgb(244, 194, 194);
    border-radius: 8px;

    background: 
        /* efeito aplicado ao ao box a partir do padding */
        linear-gradient(to right, rgba(228, 228, 228,1), rgba(228, 228, 228,0.3)) padding-box,
        /* efeito aplicado apenas na borda */
        linear-gradient(to right, rgba(255, 255, 255,1), rgba(255, 255, 255,0)) border-box;

        border-image-slice: 1;
        border: 1px solid transparent;
}

.linha input {
width: 100%;
height: 35px;
border: none;
background-color: transparent;
outline: none;
color: white;
font-family: 'Courier New', Courier, monospace;
font-size: 20px;

}

.linha input::placeholder {
color: white;
}

 h1.texto-login {
font-family: TitilliumWeb-Black;
font-size: 28px;
z-index: 2;
}
.botao-logar {
    width: 80%;
    height: 40px;
    background-color: #F9AA01;
    z-index: 2;
    font-family: TitilliumWeb-Bold;
    font-size: 24px;
}
#linha-login {
    width: 27%;
    height: 3px;
    background-color: #F9AA01;
}

/* FOOTER */

footer {
    background-image: url(../assets/images/backgroung_footer.svg);
    width: 100%;
    height: 1520px;
}

footer .parte1 {
    /* border: 1px solid red; */
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

footer .parte1 img {
    width: 140px;
    height: 40px;

}

footer .parte1 p {
    font-family: Quicksand;
    font-size: 14px;
}

footer #redes-sociais {
    display: flex;
    justify-content: space-around;


}

footer .parte2 {
    padding-top: 130px;
}

footer .parte2 h1 {
    padding-bottom: 5px;
    font-family: TitilliumWeb-Black;
}

footer .linhafooter {
    width: 33%;
    height: 3px;
    background-color: #F9AA01;
    margin-bottom: 50px;

}

footer .linhas {
    background-color: #F9AA01;
    height: 2px;
    width: 10px;
}

footer .parte2 .alinhamento {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

}

footer .alinhar-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .alinhar-links2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 191px;
    padding-top: 15px;
    padding-bottom: 120px;
}


footer .contatos-info {
    font-family: TitilliumWeb-Bold;


}

footer .contatos-info .amarelo {
    color: #F9AA01;

}

footer .contatos-info .espaco {
    padding-top: 7px;
}

footer .parte4 h1 {
    padding-top: 100px;
    font-family: TitilliumWeb-Black;
}

footer #box-email {
    width: 320px;
    height: 40px;
    backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
}

footer #box-email p {
    padding-left: 20px;
    font-family: Quicksand;
}

footer #box-enviar {
    width: 320px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9AA01;
    border-radius: 7px;
}

footer #box-enviar p {
    font-family: TitilliumWeb-Bold;
    font-size: 22px;
    color: black;
}

footer .caixas-newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    height: 105px;
}

footer #box-voltar {
    width: 40px;
    height: 40px;
    background-color: #F9AA01;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 290px;
    top: 130px;
    border-radius: 8px;
}

footer .ultima-frase {
    padding-top: 150px;
    padding-left: 45px
}